.idea/workspace.xml
# 忽略 nnU-Net 大数据
nnunet/nnUNet_raw/
nnunet/nnUNet_preprocessed/
nnunet/nnUNet_results/
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0000_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0001.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0001_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0002.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0002_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0003.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0003_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0004.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0004_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0005.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0005_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0006.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0006_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0007.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0007_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0008.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0008_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0009.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0009_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0010.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0010_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0011.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0011_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0012.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0012_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0013.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0013_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0014.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0014_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0015.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0015_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0016.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0016_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0017.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0017_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0018.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0018_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0019.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0019_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0020.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0020_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0022.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0022_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0023.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0023_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0024.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0024_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0025.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0025_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0026.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0026_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0027.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0027_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0028.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0028_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0029.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0029_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/labelsTr/case0030.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/imagesTr/case0030_0000.nii.gz
/nnunet/nnUNet_raw/Ruishan_T1_VIBE_Data_30/dataset.json
